@import '../../styles/variables';

.stationsItemContainer {
  color: $white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.name {
  width: 160px;
}

.icon {
  width: 24px;
}